<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fernando's Social Media Site</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

          
            @*<div class="navbar-brand">*@
                <a class="navbar-brand" href="/">
                    <img class="logoImage"
                         src="~/Content/Images/Logos/FSMLOGO.png"
                         alt="FSM Logo" />
                    </a>
                <a class="navbar-brand logoText" href="/" >FSM Site</a>
            @*</div>*@
          
       
                
            @*<a class="navbar-brand logoSiteText" href="/">FSM Site</a>*@

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Profile", "ProfilePage", "Profile")</li>
                    <li>@Html.ActionLink("Gallery", "Gallery", "Profile")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Website By Fernando Blanco</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

